#user-panel {
  .row {
    .content {
      .card {
        .card-body {
          padding: 40px 45px !important;
          .balance-payment-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 30px;
            color: #373736;
          }
          .row {
            .balance-payment-form {
              form {
                .row {
                  .form-control {
                    display: block;
                    width: 100%;
                    font-weight: 400;
                    transition: border-color 0.15s ease-in-out,
                      box-shadow 0.15s ease-in-out;
                    background: #f5f5f7;
                    border: 1px solid #dfdfdf;
                    border-radius: 8px !important;
                    height: 40px;
                    font-size: 15px;
                    line-height: 17px;
                    padding: 10px 15px;
                    color: #818181;
                    margin-bottom: 20px;
                  }
                }
                .btn {
                  text-align: center;
                  vertical-align: middle;
                  user-select: none;
                  transition: color 0.15s ease-in-out,
                    background-color 0.15s ease-in-out,
                    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                  color: #fff;
                }
                .btn-block {
                  display: block;
                  width: 100%;
                }
                .btn-submit {
                  background: linear-gradient(180deg, #fc7b5d 0%, #f05835 100%);
                  border: none;
                  border-radius: 8px;
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 18px;
                  padding: 11px 38px;
                }
              }
            }

            .balance-payment {
              text-align: center;
              padding-left: 70px;
              .balance-payment-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              .balance-payment-text {
                font-size: 14px;
                line-height: 17px;
                color: #b9bdc1;
                margin-top: 20px;
              }
            }
          }
        }
      }
      .balance-list {
        .card {
          .card-body {
            padding: 2rem !important;
            .balance-filter {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              margin-bottom: 10px;
              padding-top: 5px;
              padding-bottom: 20px;
              border-bottom: 1px solid rgba(213, 213, 213, 0.5);
              .btn-sm {
                padding: 0.4rem 0.8rem;
                font-size: 1.3rem;
                line-height: 1.5;
                border-radius: 0.3rem;
                margin-right: 20px;
                text-align: center !important;

                img {
                  width: auto;
                  max-width: 100%;
                }
              }
              .custom-select {
                display: inline-block;
                color: #495057;
                vertical-align: middle;
                transition: background-color 0.15s ease-in-out,
                  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                background-color: #f5f5f7;
                background-image: url(../../assets/images/caret-down.svg);
                background-repeat: no-repeat;
                background-position-x: calc(100% - 15px);
                background-position-y: center;
                border: 1px solid #dfdfdf;
                border-radius: 8px;
                padding: 10px 15px;
                height: 40px;
                font-weight: 500;
                font-size: 15px;
                line-height: 17px;
                margin-bottom: 20px;
                -moz-appearance: none;
                -webkit-appearance: none;
                min-width: 190px;
                width: auto;
                margin-bottom: 0;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
